# Xcode
ios/DerivedData/
ios/build/
*.xcuserstate
*.xcuserdata/
ios/Node/Config/Secrets.xcconfig

# macOS
.DS_Store

# Supabase local
supabase/.branches
supabase/.temp
supabase/functions/.env

# Secret
.secret
.env